section.about
	img.about__cross(src="img/about_cross.png", alt="")
	.container
		.about__wrapper
			h2.about__title.title.title--middle
				span Что такое
				br
				span Affhub?
			p.about__text-main Affhub - это арбитражное сообщество, которое объединяет арбитражников и представителей affiliate маркетинга по всему миру. Хочешь получить актуальные фишки и секреты от топов affiliate маркетинга?
			p.about__text Завести новые знакомства в сфере? Ищешь команду или нужны полезные знакомства? Приходи на Affhub. Новый формат мероприятий, который тебя приятно удивит!
			.about__bottom-wrap
				a.about__btn.btn.btn--link(href="https://t.me/affhubcommunity" target="_blank")
					span Вступай в чат
					img(src="img/telegram.png", alt="telegram")
				.about__label.label
					img.label__ico(src="img/svg/cross.svg", alt="ico")
					p.label__text не пропусти важное