section.advantages
	.container
		h2.advantages__title.title.title--main
			span Встречай
			br
			span Non Saint
			br
			span Night
		.advantages__list
			.advantages__col
				.advantage
					p.advantage__text Закрытая дискуссионная панель 
						span +afterparty
				.advantage
					p.advantage__text
						span Все популярные вертикали - 
						| Gambling, Nutra, Crypto
				.advantage.advantage--decor.advantage--decor-3
					img.advantage__image.advantage__image--3(src="img/adv_ico_3.png", alt="")
					p.advantage__text Интерактивная шоу-программа c ТОПами рынка
			.advantages__col
				.advantage.advantage--decor.advantage--decor-1
					img.advantage__image.advantage__image--1(src="img/adv_ico_1.png", alt="")
					p.advantage__text Все ТОПы affiliate индустрии в одном месте
				.advantage.advantage--decor.advantage--decor-2
					img.advantage__image.advantage__image--2(src="img/adv_ico_2.png", alt="")
					p.advantage__text Free алкоголь, закуски и кальяны
				.advantage
					p.advantage__text Тематические комнаты, 
						span которые раскроют тайные желания гостей