footer.footer
	.container
		img.footer__logo(src="img/svg/logo.svg", alt="affhub")
		p.footer__text при партнерстве и поддержке
		img.footer__partner(src="img/svg/logo_everad.svg", alt="")
		p.footer__label © 2019 ... 2022 Affhub Media