header.header
	.container
		img.header__logo(src="img/svg/logo.svg", alt="affhub")
		.header__top
			p.header__place 17 февраля, 19:00; PM Hall, Киев;
			h1.header__title.title.title--main
				span Non Saint
				br
				span Night
			p.header__desc.title VIP вечеринка для топов аффилейт маркетинга
			.header__top-bottom
				button.header__btn.btn.js-show-popup(data-target="#popup") Регистрация
				.header__label.label
					img.label__ico(src="img/svg/cross.svg", alt="ico")
					p.label__text количество ограничено, билеты платные
		.header__center
			.header__info
				.header__date-wrap
						p.header__date 17
							span февраля
				.header__timer-wrap
					p.header__timer-title до начала вечеринки
					.timer
						.timer__row
							.timer__block
								.timer__top
									.timer__el.days 0
									.timer__el.days 0
								span.timer__text дни
							.timer__dots
								.timer__dot
								.timer__dot
							.timer__block
								.timer__top
									.timer__el.hours 0
									.timer__el.hours 0
								span.timer__text часы
						.timer__row
							.timer__block
								.timer__top
									.timer__el.minutes 0
									.timer__el.minutes 0
								span.timer__text минуты
							.timer__dots.mob
								.timer__dot
								.timer__dot
							.timer__block.mob
								.timer__top
									.timer__el.seconds 0
									.timer__el.seconds 0
								span.timer__text секунды
			.header__center-desc
				h2.header__title-bottom.title.title--middle
					span Non Saint
					br
					span Night
				p.header__text-main Это мир желаний и грехов, которые незачем скрывать в кругу таких же ценителей удовольствий и искателей острых ощущений.
				p.header__text Affhub не перестает удивлять совершенно новым форматом мероприятий. Этой ночью будет разрешено все, а запрещено только то, что мешает удовольствию: интерактивная шоу программа, несколько secret комнат и море гедонизма.
				.header__attention.attention
					img.attention__ico(src="img/attention.png", alt="attention")
					p.attention__text праведным 
						br
						| вход запрещен
