section.partners
	.container
		h2.partners__title.title.title--middle
			span Media partners
		.partners__list
			a.partners__wrap-item(href="https://yosa.run/" target="blank")
				img.partners__item(src="img/svg/yosa.svg", alt="yosa")
			a.partners__wrap-item(href="https://fb-killa.pro/" target="blank")
				img.partners__item(src="img/fb-killa.png", alt="fb-killa")
			a.partners__wrap-item(href="https://sempro.club/" target="blank")
				img.partners__item(src="img/sempro.png", alt="sempro")
			a.partners__wrap-item(href="https://arbitrazhtiktok.com/?utm_source=affhub" target="blank")
				img.partners__item(src="img/tik-tokiller.png", alt="tik-tokiller")