.popup.js-popup#popup
	.popup__wrap
		.popup__close.js-close
			i.fico.fico-close
		.popup__content
			.success.js-success
				h2.success__title.title.title--middle  Спасибо за регистрацию!
			include form