section.registration
	.container
		.success.js-success
			h2.success__title.title.title--middle  Спасибо за регистрацию!
		h2.registration__title.title.title--middle.js-registration-title
			span Регистрация
		.registration__form
			include form