section.sponsors
	img.sponsors__img(src="img/bg_sponsors.png", alt="")
	.container
		h2.sponsors__title.title.title--middle
			span Sponsors of
			br
			span event
		.sponsors__list
			.sponsor
				a.sponsor__top(href="https://everad.com" target="blank")
					img.sponsor__img(src="img/svg/logo_everad.svg", alt="everad")
				p.sponsor__info.title Everad - Nutra sponsor
				p.sponsor__text Прямой нутра рекламодатель Everad уже 9 лет принимает трафик на собственные нутра офферы со ставками до 42$. Подключено более 400 офферов на 45+ гео в СНГ, Европе, Азии и Латам. Вертикали: Health & Beauty, Nutra, товарка. Присоединяйся, зарабатывай больше с Everad!
				a.sponsor__btn.btn.btn--small(href="https://t.me/dmitriy_everad" target="blank") связаться с 
					br
					| менеджером
			.sponsor
				a.sponsor__top(href="https://axela.network" target="blank")
					img.sponsor__img(src="img/svg/logo_axela.svg", alt="Axela")
				p.sponsor__info.title Axela - Сrypto Sponsor
				p.sponsor__text Стань лучшим в FX/Crypto вертикали вместе с áxela. CPA >1000$ по TIER 1, более 100 открытых стран, 50+ прямых брокеров по всему миру, еженедельные выплаты, личная поддержка 24/7. Выбирай лучшие условия!
				a.sponsor__btn.btn.btn--small(href="https://axela.network/contacts/" target="blank") связаться с 
					br
					| менеджером
			.sponsor
				a.sponsor__top(href="https://mostbet.partners" target="blank")
					img.sponsor__img(src="img/svg/logo_mostbet.svg", alt="Mostbet")
				p.sponsor__info.title Mostbet - Gambling Sponsor
				p.sponsor__text Mostbet Partners — официальная партнерская программа популярной БК и онлайн-казино Mostbet. Компания развивается и масштабируется с 2016 года. Сегодня мы работаем по моделям CPA и RevShare в 50+ гео, а наши офферы размещены в 70+ сетках.
				a.sponsor__btn.btn.btn--small(href="https://t.me/nasty_s" target="blank") связаться с 
					br
					| менеджером