section.team
	.container
		h2.team__title.title.title--middle
			span Давай согрешим этой
			br
			span ночью вместе
		.team__list
			.team-item
				img.team-item__photo(src="img/team_1.png", alt="")
				p.team-item__label Head of Affhub
				p.team-item__name.title Виктория Маслова
				a.team-item__link(href="https://t.me/Viktoriia_cpa") @Viktoriia_cpa
			.team-item
				img.team-item__photo(src="img/team_2.png", alt="")
				p.team-item__label Head of PR & SMM
				p.team-item__name.title Настя Пшебельская
				a.team-item__link(href="https://t.me/pshebelskaya") @Pshebelskaya
			.team-item
				img.team-item__photo(src="img/team_3.png", alt="")
				p.team-item__label Teamlead of Events
				p.team-item__name.title Виктория Онищенко
				a.team-item__link(href="https://t.me/Viktoriya_cpa") @Viktoriya_cpa
			.team-item
				img.team-item__photo(src="img/team_4.png", alt="")
				p.team-item__label Events of Affhub
				p.team-item__name.title Марина Текучева
				a.team-item__link(href="https://t.me/marina_tekuchova") @marina_tekuchova
			.team-item
				img.team-item__photo(src="img/team_5.png", alt="")
				p.team-item__label SMM manager
				p.team-item__name.title Алина Балыч
				a.team-item__link(href="https://t.me/aromalinaa") @balich_li