/* montserrat-regular - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v17-cyrillic-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v17-cyrillic-regular.woff") format("woff");
  font-display: swap;
}
/* montserrat-500 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat-v15-cyrillic-500.woff2") format("woff2"),
    url("../fonts/montserrat-v15-cyrillic-500.woff") format("woff");
  font-display: swap;
}
/* montserrat-700 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/montserrat-v15-cyrillic-700.woff2") format("woff2"),
    url("../fonts/montserrat-v15-cyrillic-700.woff") format("woff");
  font-display: swap;
}
/* Acworth-700 */
@font-face {
  font-family: "Acworth";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/acworth-bold.woff2") format("woff2"),
    url("../fonts/acworth-bold.woff") format("woff");
  font-display: swap;
}

/* permanent-marker-regular - latin */
@font-face {
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/permanent-marker-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/permanent-marker-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
